<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <% if @current_user.id == params[:id].to_i %>
      <td colspan="2"><%= link_to "←", user_path(date: @first_day.prev_month), class: "btn btn-primary btn-sm" %>【<%= l(@first_day, format: :middle) %>】時間管理表 <%= link_to "→", user_path(date: @first_day.next_month), class: "btn btn-primary btn-sm" %></td>
      <% else %>
      <td colspan="2">【<%= l(@first_day, format: :middle)%>】時間管理表 </td> 
      <% end %>
      <td colspan="2">指定勤務開始時間<span class="time-space1"><%= format_basic_info(@user.designated_work_start_time) %></span><br>指定勤務終了時間<span class="time-space1"><%= format_basic_info(@user.designated_work_end_time) %></span></td>
      <td colspan="2">基本時間  <span class="time-space2"><%= format_basic_info(@user.basic_work_time) %></span></td>
      <td>初日  <%= l(@first_day, format: :short) %></td>
    </tr>

    <tr>
      <td colspan="2">所属：<%= @user.affiliation.present? ? @user.affiliation : "未所属" %></td>
      <td>氏名  <%= @user.name %></td>
      <td>コード</td>
      <td></td>
      <td>出勤日数  <%= @worked_sum %>日</td>
      
      
      <td>締め  <%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>

<% if current_user.superior %> 
  <% if @current_user.id == params[:id].to_i %>
    <div>
      <% if @user.id == 2 && @month_superior_A != 0 %>
        <p class="request">
          <%= link_to "【所属長承認申請のお知らせ】", edit_month_application_user_attendance_approval_path(@user,@attendances), remote: true, class: "month_superior_color" %>
          <%# <%= link_to "【所属長承認申請のお知らせ】", edit_month_application_user_approval_path(@user), remote: true, class: "month_superior_color" %> 
          <%# <span class="month_superior_color1"> %>
          <% if @month_superior_A_approval != 0 %>
            <span class="month_superior_color1"><%= @month_superior_A_approval %>件の通知があります。</span>
          <% end %>
          <% if @superior_A_instructor_unapproved != 0 %>
            <span class="month_superior_color1">未承認は<%= @superior_A_instructor_unapproved %>件あります。</span>
          <% end %>
          <% if @superior_A_instructor_denial != 0 %>
            <span class="month_superior_color1"> 否認は<%= @superior_A_instructor_denial %>件あります。</span>
          <% end %>
          <%# </span> %>
        </p>
      <% elsif @user.id == 3 && @month_superior_B != 0 %>
        <p class="request">
          <%= link_to "【所属長承認申請のお知らせ】", edit_month_application_user_attendance_approval_path(@user,@attendances), remote: true, class: "month_superior_color" %>
          <%# <%= link_to "【所属長承認申請のお知らせ】", edit_month_application_user_approval_path(@user), remote: true, class: "month_superior_color" %> 
          <% if @month_superior_B_approval != 0 %>
            <span class="month_superior_color1"><%= @month_superior_B_approval %>件の通知があります。</span>
          <% end %>
          <% if @superior_B_instructor_unapproved != 0 %>
            <span class="month_superior_color1">未承認は<%= @superior_B_instructor_unapproved %>件あります。</span>
          <% end %>
          <% if @superior_B_instructor_denial != 0 %>
            <span class="month_superior_color1">否認は<%= @superior_B_instructor_denial %>件あります。</span>
          <% end %>
        </p>
      <%# <% elsif @month_superior_A == 0 && @month_superior_B == 0 %> 
      <% else %>
        <%= link_to "【所属長承認申請のお知らせ】" , user_path(@user), class: "month_superior_color2"%>
      <% end %>

  <%# <% debugger %> 

      <% if @user.id == 2 && @edit_superior_A != 0 %>
        <p class="request">
          <%= link_to "【勤怠変更申請のお知らせ】", edit_apprlychange_user_attendance_path(@user), remote: true, class: "month_superior_color"%>
          <% if @edit_superior_A_approval != 0 %> 
            <span class="month_superior_color1"><%= @edit_superior_A_approval %>件の通知があります。</span>
          <% end %>
          <% if @edit_superior_A_instructor_unapproved != 0 %>
            <span class="month_superior_color1">未承認は<%= @edit_superior_A_instructor_unapproved %>件あります。</span>
          <% end %>
          <% if @edit_superior_A_instructor_denial != 0 %>
            <span class="month_superior_color1">否認は<%= @edit_superior_A_instructor_denial %>件あります。</span>
          <% end %>
        </p> 
      
      <% elsif @user.id == 3 && @edit_superior_B != 0 %>
        <p class="request">
          <%= link_to "【勤怠変更申請のお知らせ】", edit_apprlychange_user_attendance_path(@user), remote: true, class: "month_superior_color" %>
          <% if @edit_superior_B_approval != 0 %>
            <span class="month_superior_color1"><%= @edit_superior_B_approval %>件の通知があります。</span>
          <% end %>
          <% if @edit_superior_B_instructor_unapproved  != 0 %>
            <span class="month_superior_color1">未承認は<%= @edit_superior_B_instructor_unapproved %>件あります。</span>
          <% end %>
          <% if @edit_superior_B_instructor_denial != 0 %>
            <span class="month_superior_color1"> 否認は<%= @edit_superior_B_instructor_denial %>件あります。</span>
          <% end %>
        </p>
      <%# <% elsif @edit_superior_A == 0 && @edit_superior_B == 0 %> 
      <% else %>
        <p class="request">
          <%= link_to "【勤怠変更申請のお知らせ】" , user_path(@user), class: "month_superior_color2"%>
        </p>
      <% end %>
  <%# <%debugger%> 
      <% if @user.id == 2 && @overtime_superior_A != 0 %>
        <p class="request">
          <%= link_to "【残業申請のお知らせ】", edit_over_work_time_user_attendance_path(@user), remote: true, class: "month_superior_color" %>
          <% if @overtime_superior_A_apploval != 0 %>
            <span class="month_superior_color1"><%= @overtime_superior_A_apploval %>件の通知があります。</span>
          <% end %>
          <% if @overtime_superior_A_instructor_unapproved != 0 %>
            <span class="month_superior_color1">未承認は<%= @overtime_superior_A_instructor_unapproved %>件あります。</span>
          <% end %>
          <% if @overtime_superior_A_instructor_denial != 0 %>
            <span class="month_superior_color1">否認は<%= @overtime_superior_A_instructor_denial %>件あります。</span>
          <% end %>
        </p>
      <% elsif @user.id == 3 && @overtime_superior_B != 0 %>
        <p class="request">
          <%= link_to "【残業申請のお知らせ】", edit_over_work_time_user_attendance_path(@user), remote: true, class: "month_superior_color" %>
          <% if @overtime_superior_B_apploval != 0 %>
            <span class="month_superior_color1"><%= @overtime_superior_B_apploval %>件の通知があります。</span>
          <% end %>
          <% if @overtime_superior_B_instructor_unapproved != 0 %>
            <span class="month_superior_color1">未承認は<%= @overtime_superior_B_instructor_unapproved %>件あります。</span>
          <% end %>
          <% if @overtime_superior_B_instructor_denial != 0 %>
            <span class="month_superior_color1">否認は<%= @overtime_superior_B_instructor_denial %>件あります。</span>
          <% end %>
        </p>
      <%# <% elsif @overtime_superior_A == 0 && @overtime_superior_B == 0 %> 
      <% else %>
        <p class="request">
          <%= link_to "【残業申請のお知らせ】" , user_path(@user), class: "month_superior_color2"%>
        </p>
      <% end %>
      
    </div>
  <% end %>
<% end %>
<%# <% debugger %> 

<% if @current_user.id == params[:id].to_i %>
<%= link_to "勤怠を編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-primary btn-sm" %>  
<%= link_to "CSV出力", user_path(format: :csv), class: "btn btn-primary btn-sm" %><br>  
<%= link_to "勤怠修正ログ(承認済)", user_attendance_logapplies_path(@user,@user), class: "btn btn-primary btn-sm" %>  
<% end %>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
      <th colspan="3"></th>
      <th colspan="8">【実績】</th>
      <th colspan="5">所定外勤務</th>

      </tr>
      <tr>
        <th rowspan="2">残業申請</th>
        <th rowspan="2">日付</th>
        <th rowspan="2">曜日</th>
        <th colspan="3">出社</th>
        <th colspan="3">退社</th>
        <th rowspan="2">在社時間</th>
        <th rowspan="2">備考</th>
        <th colspan="2">終了予定時間</th>
        <th rowspan="2">時間外時間</th>
        <th rowspan="2">業務処理内容</th>
        <th rowspan="2">指示者確認㊞</th>
        
      </tr>
      <tr>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
        <th></th>
        <%# <th></th> %>
        <%# <th></th> %>
        <th>時</th>
        <th>分</th>
        
      </tr>
    </thead>
<%# <%debugger %>
    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <td>
            <% if @current_user.id == params[:id].to_i %>
            <%= link_to "残業申請", edit_overtime_user_attendance_path(@user, day, date: day.worked_on),remote: true, class: "btn btn-primary btn-sm " %>
            <% end %>
          
          </td>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td>
            <% if day.worked_on.wday == 0 %>
             <div class="sunday"><%= $days_of_the_week[day.worked_on.wday] %></div>
            <% elsif day.worked_on.wday == 6 %>
             <div class="saturday"><%= $days_of_the_week[day.worked_on.wday] %></div>
            <% else %>
              <%= $days_of_the_week[day.worked_on.wday] %>
            <% end %>
          </td>
          <td colspan="2"><%= l(day.started_at.floor_to(15.minutes), format: :time) if day.started_at.present? %></td>
          <!--<td></td>-->
          <td>
            <% if @current_user.id == params[:id].to_i %>
              <% if btn_text = attendance_state(day) %>
                <%= link_to "#{btn_text}", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-sm" %>
              <% end %>
            <% end %>
          </td>
          <td colspan="2"><%= l(day.finished_at.floor_to(15.minutes), format: :time) if day.finished_at.present? %></td>
          <td></td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= str_times = working_times(day.started_at, day.finished_at) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          <td><%= day.note %></td>
          <td colspan="2">
            <%= day&.over_end_time&.strftime('%H:%M') %>
          </td>
          <td>
            <%= day.over_work_time %>
          </td>
          <td>
          <%= day.over_content %>
          </td>
          <td>
             <%# <%debugger%>  
            <% if day.over_superior.present? && day.over_instructor == nil %>
              <%= day.over_superior %>に残業申請中
            <% end %>
            <% if day.over_instructor == "承認" %>
              残業<%= day.over_instructor %>済
            <% elsif day.over_instructor == "否認" %>
              残業<%= day.over_instructor %>
            <% end %>
            <% if day.edit_superior.present? && day.instructor == nil %>
              <%= day.edit_superior %>に勤怠変更申請中
            <% end %>
            <% if day.instructor == "承認" %>
              勤怠編集<%= day.instructor %>済
            <% elsif day.instructor == "否認" %>
              勤怠編集<%= day.instructor %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td colspan="2"></td>
        <td colspan="6"></td>
        <td><%= format("%.2f", @total_working_times.to_f) %></td>
        <td colspan="5"></td>
        <td>
          <%# <% debugger  %> 
          <% if current_user == @user %>
          <%# <%debugger %> 
            <% if !@app2.present? %>
              <%= "所属長承認：未" %>
            <% end %>
            
            <% if @app1.present? %>
              <%# <% debugger%>
              <% @app1.each do |id, app| %>
                  
                <% app.each do|approval| %>
                  <% if current_user.id == approval.applicant_user_id %>
                    <%# <%debugger %> 
                    <% if @first_day.month == approval.one_month.month %>
                      <% if approval.month_superior.present? && ((approval.instructor_confirmation == nil) || (approval.instructor_confirmation == "申請中")) %>
                        <%= "所属長承認：#{approval.month_superior}に申請中" %><br>
                      <%# <% end %>
                      <%# <% elsif approval.instructor_confirmation.present? %> 
                      <% elsif (approval.instructor_confirmation == "承認").present? || (approval.instructor_confirmation == "否認").present? %>
                        <%= "所属長承認：#{approval.month_superior}から#{approval.instructor_confirmation}済" %><br>
                      <% end %>
                      <%# <%debugger%>    
                    <% else %>
                        <%# <%debugger%> 
                      <%= "所属長承認：未" %>
                    <% end %> 
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
             <%# <%debugger %>
            <%= form_with(model: @approval, url: user_attendance_approvals_path(@user,@user), local: true, method: :post) do |f| %>
              <%= f.hidden_field :one_month, value: @first_day %>
              <%= f.hidden_field :applicant_user_id, value: @user.id %>
              <% if @user.id == 2 %>
                <%= f.select :month_superior, [["上長B", "上長B"]], { include_blank: '選択してください'}, class: "form-control" %>
              <% elsif @user.id == 3 %>
                <%= f.select :month_superior, [["上長A", "上長A"]], { include_blank: '選択してください'}, class: "form-control" %>
              <% else %>
                <%= f.select :month_superior, [["上長A", "上長A"],["上長B", "上長B"]], { include_blank: '選択してください'}, class: "form-control" %>
              <% end %>

              <div class="center">
                <%= f.submit "申請", class: "btn btn-primary btn-block btn-1" %>
              </div> 
            <% end %>
          <% end %>    
        </td>
      </tr>     
    </tfoot>
  </table>
</div>

<!--モーダルウインドウ表示-->
<div id="edit-month-application" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<div id="apprlychange" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<div id="edit-overtime" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<div id="edit-overwork" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>


<%# <div id="edit-basic-info2" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div> %>

<%# <div id="edit-month-application" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div> %>
<%# <div id="edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div> %>






