<% provide(:class_text, 'overwork') %>
<% provide(:button_text, '変更を送信する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      
    </div>
    <div class="modal-body">
      <div class="row">
        <div class=center>
          <h3 class="modal-title">【残業申請】</h3>
        </div>
        <%= form_with(model: [@attendance,@attendance_status], url:create_overwork_user_attendance_attendance_status_path(@user, @attendance), method: :post) do |f| %>
          <table class="table-bordered table-striped table-condensed table-month-application">
            <thead>
              <tr> 
                <th class="th-month_application">日付</th>
                <th class="th-month_application">曜日</th>
                <th class="th-month_application">終了予定時間</th>
                <th class="th-month_application">翌日</th>
                <th class="th-month_application">業務処理内容</th>
                <th class="th-month_application">指示者確認㊞</th>
                <th class="th-month_application">勤怠を確認する</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="td-month_application">
                <%= l(@attendance.worked_on, format: :short) %> 
                </td>
                <td><%= $days_of_the_week[@attendance.worked_on.wday] %></td>
                <td><%= f.time_field :scheduled_end_time, class: "form-control" %></td>
                 
                <td class="td-month_application"><%= f.check_box :nextday, {}, "true", "false" %></td>
                <td><%= f.text_field :business_processing_content %></td>
                <%# <td class="td-edit-month_application"><%= f.select :instructor_confirmation, [["なし","なし"],["申請中","申請中"],["承認","承認"],["否認","否認"]],  class: "form-control"%></td>  %>
                <td class="td-month_application"><%= f.select :superior, [["上長A", "上長A"],["上長B", "上長B"]], { include_blank: '選択してください'}, class: "form-control" %></td> 
                <%# <td class="td-edit-month_application"><%= link_to "確認", verification_user_attendance_path(), class: "btn btn-primary btn-#{yield(:class_text)}"%></td>   %>
                <%# <td class="td-edit-month_application"><%= link_to "確認", "#", class: "btn btn-primary btn-#{yield(:class_text)}"%></td>  %>
                <td class="td-month_application"><%= link_to "確認", user_path(@user), class: "btn btn-primary btn-#{yield(:class_text)}"%></td>
              </tr>
            </tbody>
          </table>
          <div class="center">
            <%= f.submit yield(:button_text), class: "btn btn-primary btn-edit" %>
            <button type="button" class="btn btn-default btn-edit" data-dismiss="modal">
              キャンセル
            </button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

